* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --beige-light: #fff7d3; /* Muy claro, casi blanco */
  --beige: #fcfcc7; /* Beige estándar */
  --beige-dark: #fbdea9; /* Beige oscuro */

  --pastel-pink: #ff9099; /* Rosa pastel */
  --pastel-blue: #89ccff; /* Azul pastel */
  --pastel-green: #5ab452; /* Verde pastel */
  --pastel-yellow: #ffec8d; /* Amarillo pastel */
  --pastel-purple: #ac79ff; /* Morado pastel */

  --soft-gray: #606060; /* Gris claro */
  --soft-brown: #935600; /* Marrón suave */
  --soft-coral: #ff746a; /* Coral suave */
  --soft-mint: #59d9d4; /* Menta suave */
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--beige-light);
  color: var(--soft-gray);
  line-height: 1.6;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

header {
  display: flex;
  grid-area: header;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--beige-dark);
  border-bottom: #cc7b0a 5px solid;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}

button {
  background: var(--pastel-green);
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, font-weight 0.1s ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.241);
}

button:hover {
  background-color: rgb(99, 229, 233);
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, font-weight 0.1s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.241);
}

aside {
  grid-area: aside;
  background: rgba(255, 255, 255, 0.413);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.241);
  height: 5rem;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

aside a {
  color: #ff746a;
  text-decoration: none;
  font-size: 1rem;
}

aside a:hover {
  text-decoration: underline;
}

.logo {
  color: #cc7b0a;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10rem;
  height: auto;
  animation: vals 7s infinite linear;
}


@keyframes vals {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#section1 {
    grid-area: section;
    position: relative; /* Habilita un contenedor posicionador */
    width: 100%; /* Opcional, para asegurarte de ocupar todo el ancho */
    min-height: 50vh; /* Configura altura completa de la ventana */
}

/* Haz que el video llene el contenedor */
#section1 video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video sin distorsión */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Envía el video detrás del contenido */
}

/* Crea un contenedor para los elementos superpuestos */
#section1 h1, 
#section1 p, 
#section1 button {
    position: relative;
    z-index: 1; /* Asegúrate de que estén por encima del video */
    color: white; /* Contraste para que sean legibles */
}

/* Contenedor centrado */
#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espaciado entre los elementos */
}


.pgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
  max-width: 1200px; /* Ajusta según tu diseño */
  margin: 0 auto; /* Centra el grid */
}

.pitem {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.pitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(85%);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pitem:hover img {
  filter: grayscale(0%);
  transform: scale(1.2);
}
.p1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.p2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.p3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.p4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.p5 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.p6 {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
}
.p7 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
.p8 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}
.p9 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}
.p10 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}
.p11 {
  grid-column: 1 / 3;
  grid-row: 9 / 11;
}
.p12 {
  grid-column: 1 / 2;
  grid-row: 11 / 12;
}
.p13 {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
}
.p14 {
  grid-column: 1 / 2;
  grid-row: 12 / 13;
}
.p15 {
  grid-column: 2 / 3;
  grid-row: 12 / 13;
}
.p16 {
  grid-column: 1 / 3;
  grid-row: 13 / 15;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "section"
    "gallery";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

footer {
  grid-area: footer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.454);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
  background-color: var(--beige-dark);
}
footer a {
  color: #ff746a;
  font-size: 2.1rem;
  transition: color 0.2s ease-in-out;
}
footer a:hover {
  color: var(--pastel-blue);
}
.pgrid .pitem {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid #fff;
}

.pitem:hover {
  border: 5px solid #f9b121;
  cursor: pointer;
}

.contacto {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.contacto>div {
  width: 100%;
  padding: 3rem;
}

@media (min-width: 570px) {
  body {
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto ;
    
  }

  
#section1 {
  grid-area: section;
  position: relative; /* Habilita un contenedor posicionador */
  width: 100%; /* Opcional, para asegurarte de ocupar todo el ancho */
  min-height: 50vh; /* Configura altura completa de la ventana */
}

/* Haz que el video llene el contenedor */
#section1 video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video sin distorsión */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Envía el video detrás del contenido */
}

/* Crea un contenedor para los elementos superpuestos */
#section1 h1, 
#section1 p, 
#section1 button {
  position: relative;
  z-index: 1; /* Asegúrate de que estén por encima del video */
  color: white; /* Contraste para que sean legibles */
}

/* Contenedor centrado */
#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra el texto */
  gap: 1rem; /* Espaciado entre los elementos */
}

  header {
    display: flex;
    grid-area: header;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--beige-dark);
    border-bottom: #cc7b0a 5px solid; 
    font-size: 1.2rem;
  }

  .logo {
    margin: 1rem 0;
  }

  aside {
    padding: 3rem 0;
    width: 13rem;
    background-color: rgba(255, 255, 255, 0.849);
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: start;
    color: black;
    align-items: center;
    gap: 10rem;
  }
  .logo img {
    width: 15rem;
  }
  .menu {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  aside a:hover {
    font-weight: 600;
    transition: border-right 0.2s ease-in-out;
    border-right: 10px solid rgb(255, 160, 65);
  }
  aside a {
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    font-size: 1.3rem;
  }
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .pgrid {
    width: 100%;
    max-width: 2000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .p1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .p2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .p3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .p4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .p5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .p6 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .p7 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .p8 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .p9 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .p10 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
  .p11 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    height: 40rem;
  }

  .contacto {
    flex-direction: row;
    align-items: start;
    gap: 1rem;
  }
  
  .contacto>div {
    width: 15rem;
    padding: 3rem 0;
  }
  
}
