* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8a7a7;
  color: #606060;
  line-height: 1.6;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

header {
  display: flex;
  grid-area: header;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fbdea9;
  border-bottom: #cc7b0a 5px solid;
  transition: all 0.2s ease-in-out;
}
.logo {
  color: #4c00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Style Script";
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.803);
}

.logo h2 {
  font-size: 2.2rem;
  transition: font-size 0.5s ease-in-out; 
}

.logo img {
  width: 8rem;
  height: auto;
  animation: vals 3s infinite ease-in-out;
  transition: width 0.5s ease-in-out; 
}

aside {
  grid-area: aside;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  border-bottom: #f9b121 2px solid;
}
.logo2, aside img {
  display: none;
}
.menu {
  display: flex;
  gap: 1.5rem;
}
aside a {
  color: #ff4c76;
  text-decoration: none;
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes vals {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes subirBajar {
  0% {
    transform: translateY(0);  
  }
  50% {
    transform: translateY(-10px);  
  }
  100% {
    transform: translateY(0);  
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "hero"
    "gallery"
    "servicios";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#hero {
  animation: fondou 15s ease-in-out infinite;
  align-items: center;
  background-position: center 50%;
  background-size: cover;
  background-image: url('../img/sec01.webp');
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: hero;
  height: 50vh;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  width: 100%;
}

@keyframes fondou {
  0%, 100% {
    background-image: url('../img/sec01.webp');
  }
  13% {
    background-image: url('../img/sec1.webp');
  }
  26% {
    background-image: url('../img/sec2.webp');
  }
  39% {
    background-image: url('../img/sec3.webp');
  }
  52% {
    background-image: url('../img/sec4.webp');
  }
  65% {
    background-image: url('../img/sec5.webp');
  }
  78% {
    background-image: url('../img/sec6.webp');
  }
}

#hero p {
  font-size: 1.5rem;
}

#hero h1 {
  font-size: 2rem;
  text-wrap: wrap;
  text-shadow: #000000 1px 1px 10px;
  padding: 1rem 2rem;
  background-color: #3702825e;
}



#hero h1, 
#hero p,
#hero button {
font-family: "poppins";
position: relative;
z-index: 1;
}

button {
  background-color: #692f87;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.241);
  text-shadow: #000000 1px 1px 10px;
  border: #5100ff 2px solid;
  animation: multicolor 5s ease-in-out infinite;
}
button:hover, button:focus {
  color: rgb(255, 252, 252);
  font-weight: 400;
  background-color: rgb(175, 90, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.241);
  transform: scale(1.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.722);
}

@keyframes multicolor {
  0%, 100% {
    background-color: #be90ff5e;
  }
  25% {
    background-color: #ff00d95e;
  }
  50% {
    background-color: #00b0fb5e;
  }
  75% {
    background-color: #b79f015e;
  }
}


.pgrid {
  display: grid;
  grid-area: gallery;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pitem {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.pitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(85%);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pgrid .pitem {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
}
.pitem:hover {
  border: 6px solid #f9b121;
  cursor: pointer;
}

.pitem:hover img {
  filter: grayscale(0%);
  transform: scale(1.3);
}
.p1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.p2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.p3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.p4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.p5 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.p6 {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
}
.p7 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
.p8 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}
.p9 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}
.p10 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}
.p11 {
  grid-column: 1 / 3;
  grid-row: 9 / 11;
}
.p12 {
  grid-column: 1 / 2;
  grid-row: 11 / 12;
}
.p13 {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
}
.p14 {
  grid-column: 1 / 2;
  grid-row: 12 / 13;
}
.p15 {
  grid-column: 2 / 3;
  grid-row: 12 / 13;
}
.p16 {
  grid-column: 1 / 3;
  grid-row: 13 / 15;
}

.servicios {
  grid-area: servicios;
  display: grid;
  justify-content: center;
  text-align: start;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  width: 100%;
  gap: 2rem;
  padding: 3rem;
}
.servicios>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  background-color: wheat;
  height: 18rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.433);
  transition: all 0.2s ease-in-out;
  border-radius: 1rem;
  border: 5px dotted rgb(255, 183, 14);
  cursor: pointer;
}

.servicios>div:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.565);
  animation: meser .3s linear;
}

@keyframes meser {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}

.servicios>div h2 {
  color: #ff4c76;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  display: inline;
}

.servicios>div h2:hover {
  color: #7d11db;
}

.servicios>div li {
  list-style: none;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
}

.servicios>div li:hover {
  font-weight: 400;
  color: #1f1f1f;
}

footer {
  grid-area: footer;
  text-align: center;
  border-top: rgb(198, 157, 60) solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #fbdea9;
  z-index: 3;
  gap: 2rem;
  position: relative;
}

footer h3 {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(227, 227, 227);
  border: 5px dotted;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: #4c00ff;
  animation: estirar 3s infinite ease-in-out;
}

footer h3:hover {
  background-color: rgb(171, 137, 255);
  cursor: pointer;
}

footer h3:hover + p, footer h3:focus + p, footer h3:active + p {
  display: block;
}

footer p {
  display: none;
  position: absolute;  
  top: -80%;
  left: 20%;
  transform: translate(50%, 50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(161, 8, 185);
  font-size: 1.3rem;
  border: 5px dotted;
  border-radius: 1rem;
  font-weight: 500;
  animation: subirBajar 2s infinite ease-in-out, espacius 2s infinite ease-in-out;
  z-index: 4;
}

@keyframes espacius {
  0%, 100% {
    padding: .8rem 3rem;
  }
  25% {
    padding: .5rem 2rem;
  }
  50% {
    padding: .8rem 3rem;
  }
  75% {
    padding: .5rem 2rem;
  }
}

.icons {
  display: flex;
  color: #a813ad;
  font-size: 2.1rem;
  transition: all 0.2s ease-in-out;
  animation: estirar 2s infinite linear;
  gap: 3rem;
  text-decoration: none;
  cursor: pointer;
}

@keyframes estirar {
  0% {
    letter-spacing: 0;
    transform: rotate(2deg);
  }
  25% {
    letter-spacing: 2px;
  }
  50% {
    letter-spacing: 0;
    transform: rotate(-2deg);
  }
  75% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 0;
    transform: rotate(2deg);
  }
}

.icon:hover {
  transition: all 0.2s ease-in-out;
  color: #4c00ff;
  transform: scale(2);
}

::-webkit-scrollbar {
  background-color: rgb(183, 83, 83);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(108, 21, 195);
  border-radius: 1rem;
}

@media (min-width: 600px) {
  body {
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto ;
    
  }
  header {
    display: flex;
    grid-area: header;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: #fbdea9;
    border-bottom: #cc7b0a 5px solid; 
  }
  
  .logo2 h2 {
    font-size: 2rem;
  }
  
  .logo h2 {
    font-size: 3.5rem;
  }

  .logo {
    margin: 1rem 0;
  }
  aside {
    padding: 3rem 0;
    width: 13rem;
    height: 100%;
    z-index: 2;
    justify-content: center;
    color: black;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    border-right: rgb(255, 255, 127) solid 2px;
  }
  .logo img {
    width: 15rem;
  }
  .menu {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  aside a:hover {
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-right: 15px solid rgb(152, 72, 255);
    color: #a813ad;
  }
  
  aside a {
    padding: 1rem;
    width: 100%;
    font-size: 1.3rem;
  }
  aside img {
    display: block;
    width: 8rem;
    height: auto;
  }

  .logo2 {
    display: block;
    color: #692f87;
    font-family: "Style Script";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: subirBajar 2s infinite ease-in-out;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .logo2:hover {
    scale: 1.3;
    color: #780aae;
    rotate: 360deg;
    animation: vals 1.2s ease-in-out infinite;
    animation-delay: .2s;
    animation-timing-function: 7s;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  #hero {
    min-height: 50vh;
    max-width: 2000px;
}
  .pgrid {
    width: 100%;
    max-width: 2000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .p1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .p2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .p3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .p4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .p5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .p6 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .p7 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .p8 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .p9 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .p10 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
  .p11 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    height: 40rem;
  }
  .servicios {
    grid-area: servicios;
    max-width: 2000px;
  }
  .servicios>div {
    padding: 1rem 1rem;
  }
  footer {
    justify-content: space-evenly;
  }
  footer>div {
    text-align: center;
    justify-content: center;
    width: 30rem;
  }

}
@media (max-width: 600px) {
#hero {
  min-height: 40vh;
}
aside a:hover {
  font-weight: 600;
  transition: border 0.2s ease-in-out;
  border-bottom: 10px solid #a813ad;
  border-top: 10px solid #a813ad;
  color: #a813ad
}

footer {
  padding: 2rem;
  flex-direction: column;
}
}